.card {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 10px;
    margin: 10px;
    min-width: 300px;

    display: flex;
    flex-direction: column;
}

.card .titulo {
    padding: 15x 0px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
}

.card .conteudo {
    flex-grow: 1;
    border: 3px solid white;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 20px;
}