table, th, td  {
    border-bottom: 1px solid #ddd;
    width: 100%;
}

tbody tr:hover {
    background-color: coral;
}

thead {
    background-color: #008080;
    color: white;
  }

tr:nth-child(even) {
    background-color: #dbdbdb;
}
